body {
  margin: 0;
  padding: 0;
  background: url(../img/MitchellPoint.jpg) no-repeat;
  background-size: cover;
}

a.back-button {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
}
a.back-button:visited {
  color: white;
  text-decoration: none;
}

a.back-button:hover {
  color: white;
  text-decoration: none;
}

a.back-button:active {
  color: white;
  text-decoration: none;
}

.box {
  width: 450px;
  height: 100vh;
  border-radius: 10%;
  background: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  text-align: left;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  color:white;
}

.box p {
  font-size: 18px;
  line-height: 25px;
}

footer .credits{
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
